.portfolio-connect {
  text-align: center;

  .portfolio-connect-bg {
    margin: 0 auto;
    width: 540px;
    height: 280px;
    background: url('../../../../assets/images/ahp/portfolio-bg1.png');
    background-position: center;
    background-size: cover;
    // border: 1px solid;
  }

  .portfolio-connect-title {
    margin-top: 30px;
    line-height: 24px;
    color: #fff;
    font-size: 16px;
  }

  .portfolio-connect-button {
    text-align: center;
    margin: 40px auto 0 auto;
    width: 400px;

    .portfolio-button {
      background-color: transparent;
    }
  }
}