.gom-vote-box {
  .end-time-box {
    .end-item {
      background: #33333C;
      color: #E4C989;
      border-radius: 10px;
      padding: 12px 25px;
      border: 1px solid #5A5A5B;
      font-size: 30px;
      font-weight: bolder;
    }
  }
  .form-box {
    .hp-select {
      width: 100%;
      height: 56px;
      background: none;
      color: #fff;
      .ant-select-selection {
        height: 100%;
        border-radius: 10px;
        border: 1px solid #3d3e46;
        background: none;
      }
      .ant-select-selection__rendered {
        height: 100%;
      }
      .ant-select-selection-selected-value {
        line-height: 55px;
        height: 56px;
      }
      .ant-select-arrow {
        color: #A8A8AA;
      }
    }
    .hp-amount-box {
      height: 56px;
      position: relative;
      .hp-amount {
        width: 100%;
        background: none;
        border-radius: 10px;
        border: 1px solid #3d3e46;
        height: 56px;
        padding: 0 205px 0 20px;
        &:hover, &:focus {
          border: 1px solid #E4C989;
        }
        &.error{
          border: 1px solid #F6465D;
        }
      }
      .input-tip {
        position: absolute;
        right: 20px;
        top: 10px;
        line-height: 35px;
        color: #fff;
        border-left: 1px solid #3D3E46;
        height: 36px;
        padding-left: 20px;
      }
    }
  }
}