.investment-allocation {
  .investment-allocation-title {
    font-size: 18px;
    color: rgba(168, 168, 170, 1);
    vertical-align: middle;
    margin-left: 12px;
    cursor: pointer;
  }

  .investment-allocation-head {
    .investment-allocation-total {
      font-size: 18px;
      color: #fff;
    }

    .investment-allocation-total2 {
      margin-top: 18px;
      font-size: 30px;
    }

    .investment-allocation-total4 {
      display: inline-block;
    }

    .investment-allocation-total3 {
      color: rgba(168, 168, 170, 1);
      font-size: 14px;
      margin-left: 12px;
      display: inline-block;
      vertical-align: middle;
    }
  }



  .investment-allocation-bottom {
    margin-top: 30px;

    .investment-allocation-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .investment-allocation-box {
        margin-bottom: 10px;
        min-width: 170px;
        border-left: 1px solid rgba(61, 62, 70, 1);
        padding-left: 30px;
        box-sizing: border-box;

        .investment-allocation-box-head {
          .investment-allocation-box-name {
            color: rgba(168, 168, 170, 1);
            font-size: 16px;
          }

          .investment-allocation-box-question {
            margin-left: 8px;
          }
        }

        .investment-allocation-box-amount {
          margin-top: 10px;
          font-size: 16px;
          color: #fff;
        }

        .investment-allocation-box-amount2 {
          margin-top: 8px;
          color: rgba(168, 168, 170, 1);
          font-size: 14px;
        }
      }

      .investment-allocation-box:first-child {
        border-left: 0;
        padding-left: 0;
      }
    }
  }
}

.investment-allocation-wrap {
  width: 440px;
  height: 410px;

  .investment-allocation-map {
    width: 350px;
    height: 370px;
    margin: 30px auto;
  }
}