@import "./common";
@import "./reset";
@import "./font";
@import "./icon-font/iconfont.css";

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd,
ul,
ol,
form { margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  color: #fff;
}

ul,
li,
ol {
  padding-left: 0;
  list-style: none;
  list-style-position: outside;
}

html,
body {
  height: 100%;
  color: #fff;
  background: #0C0C0D;
  font-size: 14px;
  font-family: Arboria-Book;
  line-height: 1;
}