.ant-btn-link:hover,
.ant-btn-link:focus {
  color: #E4C989;
}

.sub-input {
  .ant-input {
    height: 56px;
    background: none;
    border: 1px solid #3D3D3D;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
  }

  .ant-input:focus,
  .ant-input:hover {
    border: 1px solid #3D3D3D;
    box-shadow: none;
  }

  .ant-input-group-addon {
    background: none;
    border-color: #3D3D3D;
  }

  .ant-btn-link[disabled] {
    color: #A8A8AA;
  }
}

// staking claim
.staking-claim-box {
  .head {
    height: 75px;
    position: relative;
    line-height: 75px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    text-align: center;
    border-bottom: 1px solid #A8A8AA;

    .icon-close {
      position: absolute;
      line-height: 1;
      top: 25px;
      right: 20px;
    }
  }
}

// select
.ant-select-dropdown {
  background: #33333C;

  .ant-select-dropdown-menu {
    .ant-select-dropdown-menu-item {
      height: 40px;
      color: #fff;
      line-height: 30px;
    }

    .ant-select-dropdown-menu-item-selected {
      background: #3D3E46;
      color: #fff;
    }

    .ant-select-dropdown-menu-item-active {
      background: #3D3E46;
      color: #fff;
    }
  }
}

// ant date

.ant-calendar-picker-container {
  color: #fff;

  .ant-calendar,
  .ant-calendar-year-panel,
  .ant-calendar-decade-panel {
    background-color: #33333C;
    border-color: #33333C;
    font-size: 12px !important;
  }

  .ant-calendar-year-panel-year {
    color: #fff;
  }

  .ant-calendar-year-panel-last-decade-cell .ant-calendar-year-panel-year,
  .ant-calendar-year-panel-next-decade-cell .ant-calendar-year-panel-year {
    color: #A8A8AA;
  }

  .ant-calendar-input-wrap {
    display: none;
  }

  .ant-calendar-date {
    color: #fff;
  }

  .ant-calendar-selected-day .ant-calendar-date,
  .ant-calendar-date:hover {
    background: #E4C989;
    // border-radius: 50%;
    color: #26262C;
  }

  .ant-calendar-decade-panel-selected-cell .ant-calendar-decade-panel-decade {
    background: #E4C989;
    color: #26262C;
  }

  .ant-calendar-decade-panel-decade {
    color: #fff;
  }

  .ant-calendar-disabled-cell .ant-calendar-date {
    background: #33333C;
    color: #63636A !important;
  }

  .ant-calendar-picker-container .ant-calendar-header {}

  .ant-calendar-header,
  .ant-calendar-year-panel-header,
  .ant-calendar-header,
  .ant-calendar-decade-panel-header {

    height: 60px;
    // line-height: 60px;
    margin: 0px 16px;

    a:hover::after,
    a:hover::before {
      border-color: #E4C989 !important;
    }

    .ant-calendar-prev-century-btn,
    .ant-calendar-next-century-btn,
    .ant-calendar-prev-decade-btn,
    .ant-calendar-next-decade-btn,
    .ant-calendar-prev-month-btn,
    .ant-calendar-next-month-btn,
    .ant-calendar-prev-year-btn,
    .ant-calendar-next-year-btn,
    .ant-calendar-year-panel-next-decade-btn,
    .ant-calendar-year-panel-prev-decade-btn {
      line-height: 60px;
    }

    .ant-calendar-century-select,
    .ant-calendar-decade-select,
    .ant-calendar-year-select,
    .ant-calendar-month-select,
    .ant-calendar-year-panel-decade-select {
      color: #fff;
    }
  }

  .ant-calendar-next-month-btn-day .ant-calendar-date {
    color: #A8A8AA;
  }

  .ant-calendar-decade-panel-decade:hover,
  .ant-calendar-year-panel-selected-cell .ant-calendar-year-panel-year,
  .ant-calendar-year-panel-year:hover {
    background: #E4C989;
    color: #26262C;
  }

  .ant-calendar-my-select,
  .ant-calendar-year-panel-decade-select {
    display: inline-block;
    margin-top: 10px;
  }

  .ant-calendar-decade-panel-header,
  .ant-calendar-decade-panel-next-century-btn,
  .ant-calendar-decade-panel-prev-century-btn {
    line-height: 60px;
  }

  .ant-calendar-disabled-cell.ant-calendar-today .ant-calendar-date {
    color: #E4C989 !important;

    &::before {
      // display: none;
      border: 1px solid #E4C989;
    }
  }

  .ant-calendar-disabled-cell.ant-calendar-selected-day .ant-calendar-date::before {
    background: none;
  }
}

// text btn 
.ant-btn-link-disabled,
.ant-btn-link.disabled,
.ant-btn-link[disabled],
.ant-btn-link-disabled:hover,
.ant-btn-link.disabled:hover,
.ant-btn-link[disabled]:hover,
.ant-btn-link-disabled:focus,
.ant-btn-link.disabled:focus,
.ant-btn-link[disabled]:focus,
.ant-btn-link-disabled:active,
.ant-btn-link.disabled:active,
.ant-btn-link[disabled]:active,
.ant-btn-link-disabled.active,
.ant-btn-link.disabled.active,
.ant-btn-link[disabled].active {
  color: #63636A;
}

.dapp-select-dropdown {
  color: #fff;
  border-radius: 8px;
  background-color: rgba(61, 62, 70, 1);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;

  .ant-select-dropdown-menu {
    padding: 0;
  }

  .ant-select-dropdown-menu .ant-select-dropdown-menu-item {
    height: 34px;
    line-height: 34px;
    padding: 0 20px;
    box-sizing: border-box;
    color: #fff;
  }

  .ant-select-dropdown-menu .ant-select-dropdown-menu-item-selected {
    color: rgba(38, 38, 44, 1);
  }
}

.select-tips-list {
  min-width: 130px;
  overflow: hidden;
  border-radius: 8px;
  background-color: rgba(51, 51, 60, 1);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  border: 0.5px solid rgba(90, 90, 91, 1);

  .select-tips-item {
    padding-left: 15px;
    padding-right: 15px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    cursor: pointer;
  }

  .select-tips-item:hover {
    color: #ffffff;
    background-color: #3D3E46;
  }
}

// radio
.ant-radio-checked .ant-radio-inner {
  // background-color: #E4C989;
  border-color: #0ECB81;
}

.ant-radio-wrapper:hover .ant-radio,
.ant-radio:hover .ant-radio-inner,
.ant-radio-input:focus+.ant-radio-inner {
  border-color: #0ECB81;
}

.ant-radio-checked::after {
  border: 1px solid #0ECB81;
}

.ant-radio-inner::after {
  background-color: #0ECB81;
}

// ant-pagination
.ant-pagination {
  color: #868790;
  font-family: Arboria-Book;

  .ant-pagination-item {
    background-color: #26262C;
    border: none;

    a {
      color: #868790;
      font-family: Arboria-Medium;

      &:hover {
        color: #E4C989;
      }
    }
  }

  .ant-pagination-prev,
  .ant-pagination-next {
    a {
      color: #ffffff;
      background-color: transparent;
      border: none;
    }

    &.ant-pagination-disabled a {
      color: #63636A;

      &:hover {
        color: #63636A;
      }
    }
  }

  .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis,
  .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis {
    color: #404040;
    border: 1px solid #434343;
    border-radius: 4px;
  }

  .ant-select-selection-selected-value {
    color: #868790 !important;
    font-family: Arboria-Book !important;
    font-size: 14px !important;
    border-color: #434343;
  }

  .ant-pagination-options-quick-jumper input,
  .ant-select-selection {
    color: #868790;
    background-color: #26262C;
    border-color: #434343;
  }

  .ant-pagination-options-size-changer .ant-select-selection {
    border: none !important;
  }

  .ant-pagination-item-active {
    background-color: #33333C;

    a {
      color: #E4C989 !important;
    }
  }

  .ant-pagination-item-active:focus a,
  .ant-pagination-item-active:hover a,
  .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon,
  .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon {
    color: #E4C989;
  }

  .ant-pagination-prev:focus .ant-pagination-item-link,
  .ant-pagination-next:focus .ant-pagination-item-link,
  .ant-pagination-prev:hover .ant-pagination-item-link,
  .ant-pagination-next:hover .ant-pagination-item-link {
    color: #E4C989;
    border-color: #434343;
  }

  .ant-select-arrow .ant-select-arrow-icon {
    color: #868790;
  }

  .ant-select-selection-selected-value {
    height: 30px !important;
    line-height: 30px !important;
  }
}

// switch
.ant-switch {
  overflow: hidden;

  &.is-grey {
    background-color: #3D3E46;
  }

  &::after {
    background-color: #63636A;
  }

  &.ant-switch-checked {
    background-color: #E4C989;
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba(228, 201, 137, 0.2);
  }
}

//
.ant-select {
  &.small-select .ant-select-selection-selected-value {
    height: 42px;
    line-height: 42px;
  }

  .ant-select-selection {
    height: 100%;
    border-radius: 10px;
    border: 1px solid #3d3e46;
    background: none;
  }

  .ant-select-focused .ant-select-selection,
  .ant-select-selection:focus,
  .ant-select-selection:active {
    border-color: #E4C989;
    // box-shadow: 0 0 0 2px rgba(228, 201, 137, 0.2);
    box-shadow: none;
  }

  .ant-select-selection__rendered {
    height: 100%;
  }

  .ant-select-selection-selected-value {
    line-height: 55px;
    height: 56px;
    color: #fff;
    font-family: Arboria-Medium;
    font-size: 16px;
  }

  .ant-select-arrow {
    color: #A8A8AA;
  }

  .anticon {
    color: #A8A8AA !important;
    // background-color: #26262C !important;
  }

  &.show-placeholder .ant-select-selection__placeholder {
    display: block !important;
    font-family: Arboria-Medium;
    font-size: 16px;
  }

  &.hide-placeholder .ant-select-selection__placeholder {
    display: none !important;
  }

  .ant-select-selection--multiple {

    // .ant-select-search{
    //   display: none;
    // }
    .ant-select-selection__clear {
      top: 22px;
    }

    .ant-select-selection__rendered>ul {
      margin-left: 6px;

      .ant-select-selection__choice {
        margin-top: 8px;
        background-color: #26262C;
        color: #fff;
        line-height: 26px;
        border: none;
      }
    }
  }
}

.ant-select-dropdown.ant-select-dropdown--multiple .ant-select-dropdown-menu-item-selected .ant-select-selected-icon,
.ant-select-dropdown.ant-select-dropdown--multiple .ant-select-dropdown-menu-item-selected:hover .ant-select-selected-icon {
  color: #E4C989 !important;
}

.ant-select-open .ant-select-selection {
  border-color: #E4C989;
  box-shadow: #E4C989;
}


.dapp-select-dropdown {
  .ant-select-dropdown-menu .ant-select-dropdown-menu-item {
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    color: #fff;
    padding-left: 20px;

  }

  .ant-select-dropdown-menu .ant-select-dropdown-menu-item:hover {
    background-color: rgba(61, 62, 70, 1);
  }

  .ant-select-dropdown-menu .ant-select-dropdown-menu-item-selected {
    color: #E4C989;
    background-color: transparent;
  }

  .ant-select-dropdown {
    overflow: hidden;
  }

  .ant-select-dropdown-menu {
    padding: 10px 0;
    border-radius: 6px;
    background-color: rgba(51, 51, 60, 1);
  }
}

.pool-switch {
  background-color: #3D3E46;
  height: 28px;
  width: 50px;

  &.ant-switch::after {
    width: 24px;
    height: 24px;
    background-color: #5A5A5B;
  }
}

.tips-wallet {
  .ant-tooltip-inner {
    border-radius: 10px;
    background-color: rgba(51, 51, 60, 1);
    padding: 5px 12px;
    box-shadow: none;
    line-height: 24px;
    font-size: 16px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    border: 0.5px solid rgba(90, 90, 91, 1);
  }

  .ant-tooltip-arrow {
    bottom: -4.67106781px !important;
    overflow: initial;
  }

  .ant-tooltip-arrow::before {
    background-color: rgba(51, 51, 60, 1);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    border: 0.5px solid rgba(90, 90, 91, 1);
    border-top-width: 0px;
    border-left-width: 0px;
    bottom: -1;
  }
}

#buy-hope-nav-link {
  width: 128px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #e4c989;
  font-size: 18px;
  font-family: Arboria-Medium;
  border-radius: 10px;
  display: block;
  background-color: rgba(30, 30, 30, 1);
  cursor: pointer;

  :hover {
    background-color: #e4c989;
    color: #26262c;
  }
}