.dao-locker-page{
  .content-box{
    .card-box{
      gap: 30px;
      .item{
        flex: 1;
        min-height: 180px;
        box-sizing: border-box;
        border-radius: 20px;
        background-color: #26262C;
        .link-btn{
          display: inline-block;
          padding: 5px 13px;
          border: 1px solid #E4C989;
          border-radius: 6px;
          cursor: pointer;
          user-select: none;
          &.disabled{
            color: #3D3E46;
            border-color: #3D3E46;
            cursor: no-drop;
          }
        }
        i.disabled{
          color: #3D3E46;
          cursor: no-drop;
        }
      }
    }
    .action-box{
      .l, .r{
        box-sizing: border-box;
        border-radius: 20px;
        background-color: #26262C;
      }
      .r{
        .inp-box{
          position: relative;
          .input-amount {
            width: 100%;
            color: #fff;
            background: none;
            border-radius: 10px;
            border: 1px solid #3D3D3D;
            height: 56px;
            padding: 0 20px 0 100px;
            &:hover, &:focus {
              border: 1px solid #E4C989;
            }
            &.error{
              border: 1px solid #F6465D;
            }
          }
          .coin-box {
            position: absolute;
            top: 50%;
            left: 32px;
            transform: translate(0, -50%);
          }
          .lt-icon{
            position: absolute;
            left: 32px;
            top: 50%;
            transform: translate(0, -50%);
          }
        }
        .date-box{
          .date-picker-tem{
            width: 100%;
            .ant-calendar-picker-input{
              width: 100%;
              height: 56px;
              font-size: 16px;
              color: #fff;
              background-color: #26262C;
              border-radius: 10px;
              font-family: Arboria-Medium;
              border: 1px solid #3D3D3D;
              padding-left: 20px;
              &::placeholder{
                color: #5A5A5B;
              }
              &:focus, &:hover{
                border-color: #E4C989;
              }
            }
            .ant-calendar-picker-icon{
              color: #fff;
            }
          }
        }
        .date-btn{
          gap: 20px;
          flex-wrap: wrap;
          .btn-item{
            flex: 1;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border: 1px solid #3D3D3D;
            cursor: pointer;
            user-select: none;
            border-radius: 10px;
            &.active, &:hover{
              border-color: #E4C989;
            }
          }
        }
        .tip p{
          line-height: 24px;
        }
      }
    }
  }
}
@media screen and (max-width: 1150px){
  .dao-locker-page .content-box .action-box .r .date-btn{
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    .btn-item{
    }
  }
}