.dao-locker-page{
  .banner{
    background: url('../../assets/images/locker_banner.png') no-repeat center;
    background-size: 100% 100%;
    border-radius: 20px;
    h2{
      color: #fff;
      font-size: 30px;
    }
    .link{
      &:hover{
        color: #E4C989;
      }
    }
    ul li{
      line-height: 24px;
    }
  }
  .content-box{
    .card-box{
      gap: 30px;
      .item{
        flex: 1;
        min-height: 180px;
        box-sizing: border-box;
        border-radius: 20px;
        background-color: #26262C;
        .link-btn{
          display: inline-block;
          padding: 5px 13px;
          border: 1px solid #E4C989;
          border-radius: 6px;
        }
      }
    }
    .action-box{
      .l, .r{
        box-sizing: border-box;
        border-radius: 20px;
        background-color: #26262C;
      }
    }
  }
}