.gom-list-box {
  .search-input {
    .ant-input {
      height: 42px;
      background: none;
      border: 1px solid #3D3D3D;
      border-radius: 10px;
      width: 440px;
      font-size: 16px;
      color: #fff;
      font-family: Arboria-Medium;
      &:not(:first-child){
        padding-left: 40px;
      }
      &::placeholder{
        color: #63636A;
      }
    }
    &.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
      border-color: #E4C989;
    }
    .ant-input:focus, .ant-input:hover{
      border: 1px solid #3D3D3D;
      box-shadow: none;
    }
    .ant-input-group-addon {
      background: none;
      border-color: #3D3D3D;
    }
    .ant-btn-link[disabled] {
      color: #A8A8AA;
    }
    .ant-input-clear-icon {
      color: rgba(255, 255, 255, 0.65);
    }
  }
  .search-btn {
    height: 42px;
    border-radius: 10px;
    background-color: rgba(61, 62, 70, 1);
    border: 0.5px solid rgba(90, 90, 91, 1);
    color: #E4C989;
    font-family: Arboria-Medium;
    font-size: 16px;
    &:hover, &:active, &:focus{
      background-color: #33333C !important;
      border: 0.5px solid rgba(90, 90, 91, 1) !important;
      box-shadow: none;
    }
  }
  .add-tab{
    height: 42px;
    width: 240px;
    background-color: #1B1B1F;
    border-radius: 10px;
    position: relative;
    .item-tab{
      height: 100%;
      line-height: 42px;
      text-align: center;
      position: relative;
      z-index: 2;
      cursor: pointer;
      user-select: none;
      color: #A8A8AA;
      &:hover {
        color: #FFFFFF;
      }
    }
    .item-tab.active{
      color: #FFFFFF;
    }
    &.my-active::after{
      left: 50%;
    }
    &::after{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 50%;
      border-radius: 8px;
      background-color: #3D3E46;
      box-sizing: border-box;
      transition: all ease 0.25s;
      border: 2px solid #1B1B1F;
    }
  }
  .hope-dapp-table {
    padding: 0;
  }
  .hp-button-primary {
    height: 42px;
  }
}
.reset-box {
  .head {
    height: 75px;
    position: relative;
    line-height: 75px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    text-align: center;
    .icon-close {
      position: absolute;
      line-height: 1;
      top: 25px;
      right: 20px;
    }
  }
}
