.gom-list-box {
  .ant-switch {
    overflow: hidden;
    &::after {
      background-color: #63636A;
    }
    &.ant-switch-checked {
      background-color: #E4C989;
    }
    &:focus {
      box-shadow: 0 0 0 2px rgba(228, 201, 137, 0.2);
    }
  }
}