.gom-head-box {
  background: url('../../../../assets/images/ahp/gom-bg.png');
  background-position: top center;
  background-size: cover;
  padding: 30px;
  border-radius: 20px;
  .learn-more {
    padding: 13px 20px;
    border: 1px solid #E4C989;
    color: #E4C989;
    font-size: 16;
    border-radius: 10px;
    display: inline-block;
    min-height: 42px;
  }
  .head-img {
    width: 100px;
    height: 100px;
  }
}