.card-wrap {
  margin: 30px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: rgba(38, 38, 44, 1);
  padding: 30px;
}
.card-bg {
  background: url('../../../../assets/images/ahp/portfolio-bg.png');
  background-position: top center;
  background-size: contain;
}