.hope-dapp-table {
  padding: 30px;
  box-sizing: border-box;

  .ant-table-pagination.ant-pagination {
    text-align: center;
    float: none;

    .ant-select .ant-select-selection-selected-value {
      color: rgba(134, 135, 144, 1);
    }
  }

  .ant-table-title {
    font-size: 20px;
    color: #fff;
    padding: 0;
    margin-bottom: 30px;
  }

  .ant-table-thead {}

  .ant-table-thead>tr {
    // height: 40px;
    // border-radius: 8px;
    // overflow: hidden;
    // box-sizing: border-box;
  }

  .ant-table-thead>tr>th {
    background-color: rgba(61, 62, 70, 1);
    color: #fff;
    font-size: 16px;
    border: none;
  }

  .ant-table-thead>tr:first-child>th:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .ant-table-thead>tr:first-child>th:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

  }

  .ant-table-thead>tr>th {
    padding: 12px 34px;
  }

  .ant-table-tbody>tr>td {
    padding: 20px 34px;
    border-bottom: 1px solid rgba(61, 62, 70, 1);
    color: #fff;
    font-size: 14px;
  }

  .ant-table-tbody>tr:last-child {
    td {
      border-bottom: 0;
      // padding-bottom: 0;
    }
  }

  .ant-table-tbody>tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)>td {

    background: rgb(61, 62, 70);

  }

  .ant-table-placeholder {
    background-color: rgba(38, 38, 44, 1);
    color: rgba(168, 168, 170, 1);
    font-size: 14px;
    height: 64px;
    padding: 0;
    border: none;
    line-height: 64px;

    .ant-empty {
      display: none;
    }
  }
}