.veLT-rewards-item-title {
  font-size: 14px;
  color: #fff;
}

.veLT-rewards-item-desc {
  margin-top: 12px;
  font-size: 14px;
  color: rgba(168, 168, 170, 1);
}

.veLT-rewards-item-name {
  margin-right: 9px;
}

.veLT-rewards-item-button {
  color: rgba(228, 201, 137, 1);
  font-size: 14px;
  cursor: pointer;
}

.veLT-rewards-item-other {
  margin-right: 8px;
}