.portfolio-head {
  .learn-a{
    display: block;
    width: 130px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    border-radius: 10px;
    background-color: #3D3E46;
    &:hover{
      box-shadow: 0 0 0 1px #3d3d3d;
      background-color: #33333c;
    }
  }
  .card-wrap {
    margin-top: 0;
  }

  .portfolio-head-title {
    font-size: 30px;
    text-align: left;
    color: #fff;
  }

  .portfolio-head-desc {
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    max-width: 650px;
  }

  .portfolio-head-button {
    margin-top: 30px;
  }
}