.fees-collection-wrap {

  .fees-collection-desc {
    border-radius: 10px;
    background-color: rgba(61, 62, 70, 1);
    padding: 20px;
    margin: 30px;
    box-sizing: border-box;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
  }

  .fees-collection-box {
    display: flex;
  }
}