.staking-claim-box {
  .head {
    height: 75px;
    position: relative;
    line-height: 75px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    text-align: center;
    border-bottom: 1px solid #A8A8AA;
    .icon-close {
      position: absolute;
      line-height: 1;
      top: 30px;
      right: 20px;
      color: #fff;
      font-size: 16px;
    }
  }
}