.portfolio-table-item-title {
  color: #fff;

  .portfolio-table-item-title2 {
    color: rgba(168, 168, 170, 1);
  }
}

.portfolio-table-item-desc {
  color: rgba(168, 168, 170, 1);
  margin-top: 10px;
  line-height: 1;
}

.portfolio-table-item-desc2 {
  color: #fff;
}