.sidebar-transition {
  transition: width 0.5s;
  overflow: hidden;
  width: 0;
  transform-origin: left center;
}

#side-bar {
  .a-link-box {
    display: flex !important;
    justify-content: space-between;
    width: 30px;
    overflow: hidden;
    margin: 0 auto;
    transition: all 0.15s;
    flex-wrap: wrap;
    transform-origin: center;
    will-change: auto;

    .a-link,
    .icon-link {
      width: 30px;
      height: 30px;
    }
  }

  &:hover {
    .a-link-box {
      width: 180px;
      display: flex !important;
      gap: 5px;
      transition: none;
      animation: linkHover 0.3s linear;
      transform-origin: center;
    }
  }

  @keyframes linkHover {
    0% {
      transform: scale(0.25);
    }
    50% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }
}

.sidebar-logo {
  white-space: nowrap;
  padding: 35px;
  text-align: left;

  p {
    display: inline-block;
  }
}

.sidebar-select-arc {
  position: absolute;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: rgba(12, 12, 13, 1);
  overflow: hidden;
  transition: all ease 0.25s;

  .sidebar-select-arc-mask {
    width: 10px;
    height: 10px;
    background-color: #26262c;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: 0px;
    top: 0;
  }
}

.sidebar-select-arc-2 {
  .sidebar-select-arc-mask {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
  }
}

.SidebarOnSelect {
  // height: 80px;
  position: relative;
  color: #E4C989;

  &:hover {
    color: #E4C989 !important;
  }
}

// .SidebarOnSelect::before {
//   content: ' ';
//   height: 60px;
//   left: 20px;
//   border-top-left-radius: 30px;
//   border-bottom-left-radius: 30px;
//   position: absolute;
//   width: calc(100% - 20px);
//   background-color: rgba(12, 12, 13, 1);
// }

.icon-link {
  background-color: #3D3E46;
  border-radius: 50%;
  cursor: pointer;

  path {
    fill: #A8A8AA;
  }

  &.disabled {
    cursor: no-drop;

    &:hover {
      path {
        fill: #A8A8AA;
      }
    }

    &:active {
      path {
        fill: #A8A8AA;
      }

      background-color: #3D3E46;
    }
  }

  &:hover {
    path {
      fill: #fff;
    }

    background-color: #3D3E46;
  }

  &:active {
    path {
      fill: #fff;
    }

    background-color: #5A5A5B;
  }
}