@font-face {
  font-family: "iconfont"; /* Project id 3875444 */
  src: url('iconfont.woff2?t=1675231553533') format('woff2'),
       url('iconfont.woff?t=1675231553533') format('woff'),
       url('iconfont.ttf?t=1675231553533') format('truetype'),
       url('iconfont.svg?t=1675231553533#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-bianzu4:before {
  content: "\e605";
}

.icon-zichanjieyong:before {
  content: "\e606";
}

.icon-zonglan:before {
  content: "\e607";
}

.icon-shujujiegou-01:before {
  content: "\e608";
}

.icon-a-shujuyewu:before {
  content: "\e609";
}

.icon-bianzu_2:before {
  content: "\e600";
}

.icon-bianzu_4:before {
  content: "\e601";
}

.icon-bianzu_7:before {
  content: "\e602";
}

.icon-bianzu_5:before {
  content: "\e603";
}

.icon-bianzu_3:before {
  content: "\e604";
}

