.fee-with-box {
  .radio-item {
    background: #3D3E46;
    border-radius: 10px;
    padding: 20px;
    .radio-box-con {
      border-top: 1px solid #A8A8AA;
      margin-top: 20px;
      padding-top: 20px;
    }
  }
}