.fee-with-box {
  .head{
    text-align: left !important;
    padding-left: 20px;
    border: none !important;
  }
  .feew-item {
    background: #3D3E46;
    border-radius: 10px;
    overflow: hidden;
    .feew-head {
      padding: 16px;
      border-bottom:1px solid #494949;
    }
    .feew-con {
      padding: 16px;
    }
    .feew-con {
      &.hide{
        display: none;
      }
    }
    .icon-drap {
      font-size: 16px;
      color: #fff;
      margin-left: 10px;
      cursor: pointer;
      transition: transform 0.2s ease-in-out;
      &.active{
        transform: rotate(-180deg);
      }
    }
  }
}