.portfolio-wrap {
  width: 100%;

  .portfolio-button {
    color: rgba(228, 201, 137, 1);
    padding: 13px 20px;
    border: 1px solid #E4C989;
    color: #E4C989;
    font-size: 16;
    border-radius: 10px;
    display: inline-block;
    min-height: 42px;
    cursor: pointer;
  }


}